@tailwind base;
@tailwind components;

/* html {
  @apply text-base;
}

@screen md {
  html {
    @apply text-2xl;
  }
} */

body {
  @apply bg-white text-xl overflow-x-hidden;
  font-family:'Times New Roman', Times, serif, Times, serif;
  color: #323232;
}

.flex-between {
  @apply flex justify-between items-center;
}
.flex-around {
  @apply flex justify-around items-center;
}

.y-border {
  border-left: .5rem double white;
  border-right: .5rem double white;
}

@tailwind utilities;