@tailwind base;
@tailwind components;

:root {
  --mhd-gold: #d5c70b;
  --mhd-gray: rgba(128, 128, 128, 0.075);
  --mhd-blue: rgb(66, 122, 225);
}

body {
  @apply bg-white text-xl overflow-x-hidden relative;
  font-family: 'Times New Roman', Times, serif, Times, serif;
  color: #323232;
}

a {
  @apply text-blue-400;
}

p {
  @apply text-sm md:text-xl;
}

hr {
  @apply my-3;
  border: 2px solid var(--mhd-blue);
}

/* Flex-variation */
.flex-between {
  @apply flex justify-between items-center;
}
.flex-around {
  @apply flex justify-around items-center;
}

/* ----------- */
/* Global Menu */
/* ----------- */
/* メニューの両サイドの縦棒 */
.y-border {
  border-left: 0.4rem double white;
  border-right: 0.4rem double white;
}

/* ------ */
/* Swiper */
/* ------ */
.swiper-container {
  width: 300px;
  height: 115px;
}
@screen md {
  .swiper-container {
    height: 170px !important;
  }
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.swiper-container .swiper-button-prev {
  left: 50px;
  top: 35%;
  opacity: 0.5;
  display: none;
  @apply lg:flex lg:left-4;
}

.swiper-container .swiper-button-next {
  right: 50px;
  top: 35%;
  opacity: 0.5;
  display: none;
  @apply lg:flex lg:right-4;
}

.swiper-cube-shadow {
  display: none;
}

.swiper-images {
  @apply w-auto md:w-4/5 m-auto !important;
}
@screen lg {
  .swiper-container {
    width: 682px !important;
    height: 200px !important;
  }
  .swiper-images {
    width: 545px;
    /* height: 213px; */
  }
}

/* ---- */
/* main */
/* ---- */
.twoColumn-container {
  @apply lg:flex lg:justify-between;
}

/* -------- */
/* TopTitle */
/* -------- */
.top-description {
  border-top: 0.2rem solid var(--mhd-gold);
}

/* Tabs */
.tabs-container {
  @apply flex relative;
  flex-direction: column;
  width: 70%;
  background: #f1f1f1;
  margin: 15px auto 0;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.tabs {
  @apply p-1 text-center w-3/6 cursor-pointer box-content relative;
  background: var(--mhd-gray);
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  outline: none;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  @apply block absolute h-1;
  content: '';
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  background: rgb(88, 147, 241);
}

.content {
  @apply p-5 w-full h-full hidden;
  background: white;
}

.content h3 {
  @apply text-2xl md:text-4xl mb-3 text-center;
  padding: 0px 0 5px 0px;
}

.content p {
  @apply text-base md:text-xl w-full h-full tracking-wider;
}

.active-content {
  @apply block;
}

/* Information */
.information {
  @apply mb-5;
}

.information>p:last-child {
  @apply flex justify-center text-sm md:text-2xl mt-3 md:mt-5;
}

/* PLL */
.pll-span {
  @apply text-sm mb-4 text-center !important;
}

.pll-span>p {
  @apply text-sm xl:text-base inline !important;
}

.pll-movie {
  @apply text-lg md:text-4xl !important;
}

iframe {
  @apply w-full md:h-80 m-auto;
}

.pll-description {
  @apply text-sm md:text-base my-2 !important;
}

/* ---------- */
/* BottomMenu */
/* ---------- */
.bottom-menu {
  @apply fixed flex w-full md:hidden;
  height: 90px;
  left: 0;
  bottom: 0;
  background: var(--mhd-blue);
}

.bottom-menu-lists {
  @apply w-full px-1 list-none text-center;
}

.bottom-menu-lists img {
  @apply mt-1 !important;
}

/* right-contents */
.right-contents {
  @apply bg-gray-200 lg:bg-white;
}

/* ----- */
/* Aside */
/* ----- */
.aside-container {
  @apply m-auto mt-4 w-72 md:w-full h-full lg:w-72;
}

.forum {
  background: rgb(235, 235, 202);
  border-radius: 1rem 0 0 1rem;
}

.mogStation {
  background: rgb(254, 254, 255);
}

.blog {
  background: rgb(21, 52, 146);
  border-radius: 0 1rem 1rem 0;
}

.banner-list {
  @apply flex-around mb-2;
  border: 0.5px solid black;
}

.banner-list:last-child {
  @apply mb-0;
}

.banner-list img {
  @apply w-72 !important;
}

/* ------ */
/* Footer */
/* ------ */
.footer-mb {
  margin-bottom: 90px;
}
@tailwind utilities;
