@tailwind base;
@tailwind components;

/* html {
  @apply text-base;
}

@screen md {
  html {
    @apply text-2xl;
  }
} */

body {
  @apply bg-white text-xl overflow-x-hidden relative;
  font-family: 'Times New Roman', Times, serif, Times, serif;
  color: #323232;
}

.flex-between {
  @apply flex justify-between items-center;
}
.flex-around {
  @apply flex justify-around items-center;
}

.y-border {
  border-left: 0.5rem double white;
  border-right: 0.5rem double white;
}

.swiper-container {
  width: 300px;
  height: 130px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.swiper-container .swiper-button-prev {
  left: 0;
  top: 35%;
  opacity: 0.5;
}

.swiper-container .swiper-button-next {
  right: -3px;
  top: 35%;
  opacity: 0.5;
}

@tailwind utilities;
